/* Hoja de estilos para Void Antutu*/
*{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 1.5;
}

body{
    background-image: url(../imagenes/sitebg.png);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-attachment: fixed;
    cursor: url(../imagenes/cursor.png), auto;
}

#panelcentrado{ /*panel violeta redondeado*/
    margin: auto; /*centrado del panel*/
    text-align: center;
    background-color: #312857CC;
    background-blend-mode: lighten; /*transparencia*/
    width:1200px; /*fija ancho*/
    border-radius: 50px 50px 50px 50px; /*redondea bordes*/
    backdrop-filter: blur(6px); /*efecto blur en el fondo del panel violeta*/
}

#panelppal{ /*setea los margenes del panel de todo el contenido del sitio*/
    margin-left: 100px;
    margin-right: 100px;   
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

img{
    border-radius: 20px 20px 20px 20px;
}

h1,h2,h3,h4{
    letter-spacing: 10px;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 30px;
}

a:link{
    text-decoration: none; /*quita el subrayado de los links*/
}

a:hover{
    cursor: url(../imagenes/hand.png), auto; /*cambia cursor sobre los links*/
}

button{
    background-color: black;
    border: none;
    text-decoration: none;
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

button:hover{
    background-color: #8c72fffb;
    cursor: url(../imagenes/hand.png), auto;
}

input,option,select{
    background-color: black; /*fondo de los campos del formulario*/
}
  
li {
    list-style-type: square; /*la viñeta de la lista*/
}

hr{
    width:75%;
    border: 1px dashed; /*separador*/
}

nav{
    display: inline-block; /*botones de navegacion*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.sino{
    display: inline-block; /*lista 2 columnas del alcance*/
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
}

.categoria{
    padding-top: 20px; /*seccion de las comisiones*/
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.info{
    margin:auto; /*los 2 divs de cada seccion de las comisiones*/
    max-width: 500px;
}

.grilla{ /*matriz esqueleto de la tienda*/
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center; /*filas centradas*/
    flex-wrap: wrap; /*si no entran en la fila, van para abajo*/
    row-gap: 40px; /*espacio entre filas del flex*/
}

.item{ /*items de la grilla de la tienda*/
    max-width: 300px;
}

.normaltext{
    text-align: left; /*alineacion general*/
}

.storetext{
    font-size: 20px; /*descripcion de los items en venta*/
}

#socialmedia img{ /*iconos del footer*/
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#iconmedia:hover{ /*aplica filtro de color a los iconos al posicionarse*/
    filter: invert(45%) sepia(41%) saturate(1440%) hue-rotate(217deg) brightness(102%) contrast(102%);
}


